.start-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100vh - 60px);
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #896A67;
  z-index: 4;
  box-shadow: 1px 5px 15px #000;
  transition: all 0.3s ease-in-out;
  padding: 30px 0;
}
.start-menu__logo {
  top: 10px;
  width: 70px;
}
.start-menu .hidden {
  display: none;
}

.open-menu i {
  color: #EFF9F0;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.open-menu i:hover {
  color: #13070C;
}

.button-anim {
  animation: buttonAnim 0.3s forwards ease-in;
  animation-delay: 0.15s;
}

.button-anim-close {
  animation: buttonAnimClose 0.3s forwards linear;
  animation-delay: 0.3s;
}

.nav-anim {
  animation: navAnim 0.5s forwards linear;
  display: flex;
  animation-delay: 0.5s;
}

.nav-anim-close {
  animation: navAnimClose 0.7s forwards linear;
  display: flex;
}

.social {
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.social__links {
  color: #EFF9F0;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease-in-out;
}
.social__links:hover {
  color: #13070C;
}

.main-nav {
  position: fixed;
  height: 100vh;
  background-color: #896A67;
  transition: all 0.3s ease;
  z-index: 3;
  left: -300px;
  top: 0;
  width: 300px;
  display: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 5px 15px #222;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
.main-nav__logo {
  position: absolute;
  bottom: 30px;
  width: 140px;
}
.main-nav .hidden {
  display: none;
}
.main-nav .logo-mobile {
  display: none;
}
.main-nav a:hover {
  cursor: pointer;
}

.icon-close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #EFF9F0;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.icon-close:hover {
  color: #6B4D57;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
  flex-wrap: wrap;
}
.nav-menu a {
  text-decoration: none;
  color: #EFF9F0;
  margin-top: 20px;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}
.nav-menu a:hover {
  color: #6B4D57;
}
.nav-menu a.active {
  color: #13070C;
}

.nav__title {
  position: absolute;
  top: 50px;
  left: 10%;
  color: #EFF9F0;
  font-size: 30px;
  font-weight: 400;
}

@media all and (width > 768px) {
  @keyframes navAnimClose {
    0% {
      left: 0;
    }
    30% {
      left: 2px;
    }
    100% {
      left: -600px;
    }
  }
  @keyframes navAnim {
    from {
      left: -600px;
    }
    to {
      left: 0;
    }
  }
  @keyframes buttonAnimClose {
    from {
      left: -100px;
    }
    to {
      left: 0;
    }
  }
  @keyframes buttonAnim {
    0% {
      left: -10px;
    }
    30% {
      left: 0px;
    }
    100% {
      left: -100px;
    }
  }
}
@media all and (max-width: 768px) {
  .start-menu {
    display: none;
  }
  .main-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    transition: top 0.3s ease-in;
    border-radius: 0;
  }
  .main-nav .open-menu {
    color: #EFF9F0;
    position: absolute;
    width: 100%;
    height: 10vh;
    top: 90vh;
    display: none;
    justify-content: right;
    align-items: center;
    padding-right: 30px;
    transition: all 0.3s ease-in;
  }
  .main-nav .open-menu i {
    display: flex;
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
    transition: all 0.1s ease-in;
  }
  .main-nav .open-menu i:hover {
    color: #6B4D57;
  }
  .main-nav__logo {
    position: relative;
    width: 140px;
    height: auto;
    bottom: 0;
    margin: 5px 0 20px 0;
    margin-top: 10px;
  }
  .main-nav.closed {
    top: -90vh;
    border-radius: 0 0 10px 10px;
  }
  .main-nav.closed .open-menu {
    display: flex;
  }
  .main-nav.closed .open-menu i {
    display: flex;
    opacity: 1;
    width: 30px;
    height: 30px;
    align-items: center;
  }
  .main-nav .logo-mobile {
    display: block;
    max-width: 130px;
    position: absolute;
    left: calc(50% - 65px);
  }
  .nav__title {
    display: none;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto 0 auto;
    justify-content: space-between;
  }
  .nav-menu a {
    font-size: 30px;
    margin-top: 10px;
  }
  .nav-menu:not(.hidden):first-child {
    margin-left: 0;
  }
  .mobile-close {
    animation: mobileClose 0.7s forwards linear;
    display: flex;
  }
  .mobile-open {
    animation: mobileOpen 0.7s forwards linear;
    display: flex;
  }
  @keyframes mobileClose {
    from {
      top: 0;
    }
    to {
      top: -90vh;
    }
  }
  @keyframes mobileOpen {
    from {
      top: -90vh;
    }
    to {
      top: 0;
    }
  }
}

/*# sourceMappingURL=navigation.css.map */
